#diamond-narrow {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 14px solid red;
  position: relative;
  top: -10px;
}
#diamond-narrow:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 14px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 14px solid red;
}
