html {
  --float-size: 100%;
}

@keyframes slideDown {
  0% {
    transform: translateY(calc(var(--float-size) * -1));
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slide-down-animation {
  animation: slideDown 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-animation {
  animation: slideUp 1s forwards;
  opacity: 0;
  display: block;
}
