.rotate-button {
  padding-top: var(--pad, "1.15em");
  padding-bottom: var(--pad, "1.15em");
  height: calc(var(--pad) * 2 + var(--pad) * 1.2);
  line-height: calc(var(--pad) * 1.2);
  overflow: hidden;
  transition: 0.2s;
}

.rotate-button:hover {
  scale: 1.05;
}

.rotate-button > div {
  transition: 0.15s cubic-bezier(0, 0, 0, 0.75);
}

.rotate-button:hover > div {
  transform: translateY(calc((var(--pad) + var(--pad) * 1.21) * -1));
}
