@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  background: transparent;
  display: block;
  width: 0.425em;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #2525259a;
  border-radius: 1em;
  outline: none;
}

html {
  /* scroll-behavior: smooth; */
  overflow-x: hidden;

  @media (max-width: 1440px) {
    font-size: 14px;
  }

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

section {
  --pretty-view-width: var(--view-width, 47.25vw);

  @media (max-width: 1440px) {
    --pretty-view-width: min(calc(var(--view-width, 47.25vw) * 1.475), 95vw);
  }

  @media (max-width: 1024px) {
    --pretty-view-width: min(calc(var(--view-width, 47.25vw) * 1.625), 95vw);
  }
}

section .view-width {
  width: var(--pretty-view-width);
}

body,
html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* body::-webkit-scrollbar {
  width: 0px;
} */
