.project-detail {
  --bg-color: #f3f1dc;
  --font-color: rgb(227, 73, 7);
  /* --font-color: rgb(218, 76, 15); */
}

.project-detail {
  .title {
    color: var(--font-color);
    font-size: 5.75em;
    opacity: 77.5;
    font-weight: 600;
    white-space: nowrap;
    /* word-break: normal; */
  }

  .heading {
    color: var(--font-color);
    font-size: 4.25em;
    opacity: 75;
    font-weight: 500;
  }

  .expend {
    color: var(--font-color);
    font-size: 1.825em;
    opacity: 80;
  }

  .description {
    color: var(--font-color);
    font-size: 1.375em;
    opacity: 77.5;
  }

  .label {
    color: var(--font-color);
    font-size: 1.375em;
    opacity: 0.625;
  }
}
